<% provide(:title, 'Réservation') %>
<% content_for(:nav_id, 'regular-nav') %>

<section class="col-md-8 side-photo">
	<%= image_tag("bedroom.jpg") %>
</section>

<aside class="col-md-4">
	<h1>Demande de réservation</h1>
	<%= render 'flash' %>
	<section id="reservation">
		<%= form_for @reservation do |f| %>
			<% if @reservation.errors.any? %>
				<div id="error-explanation" class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2>
						<%= "#{pluralize(@reservation.errors.count, "erreur")} ont empêché la prise en compte de cette réservation:" %>
					</h2>

					<ul>
						<% @reservation.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
	
			<div class="field">
				<%= f.label :"Prénom:" %> <br>
				<%= f.text_field :firstname %>
			</div>
			<div class="field">
				<%= f.label :"Nom:" %><br>
				<%= f.text_field :lastname, class: "has-error" %>
			</div>
			<div class="field">
				<%= f.label :"Addresse:" %><br>
				<%= f.text_field :address %>
			</div>
			<div class="field">
				<%= f.label :"Code Postal:" %><br>
				<%= f.number_field :zipcode %>
			</div>
			<div class="field">
				<%= f.label :"Ville:" %><br>
				<%= f.text_field :city %>
			</div>
			<div class="field">
				<%= f.label :"Téléphone:" %><br>
				<%= f.phone_field :phone %>
			</div>
			<div class="field">
				<%= f.label :'E-mail:' %><br>
				<%= f.email_field :email %>
			</div>
			<div class="field">
				<%= f.label :"Date d'arrivée:" %><br>
				<%= f.date_field :arrival %>
			</div>
			<div class="field">
				<%= f.label :"Date de départ:" %><br>
				<%= f.date_field :departure %>
			</div>
			<div class="field">
				<%= f.label :"Nombre de personne par chambre:" %><br>
				<%= f.number_field :howmany %>
			</div>
			<div class="field">
				<%= f.label :"Remarques:" %><br>
				<%= f.text_field :comment %>
			</div>

			<div class="action">
				<%= f.submit 'Envoyer', class: 'btn btn-default' %>
			</div>
		<% end %>
	</section>
	<hr>

	<section>
		<h3>Conditions</h3>

		<p>Arrivée : 15:00 - 19:00 heures <small>(arrivée tardive nous consulter)</small></p>
		<p>Départ : 07:00 - 11:00 heures</p>
		<p>Toute prolongation doit être approuvée au préalable à la réception, sinon la chambre vous sera comptée une nuit supplémentaire.)</p> 
	</section>

	<hr>

	<section>
		<h3>Annulation/prepaiement :</h3>
		<p>Toute annulation, si celle ci est faite 24 h avant votre arrivée, ne vous sera pas compté. Dans tout autre cas, il vous sera facturé la totalité de la nuitée.</p>
	</section>
</aside>

