<header id="<%= content_for :nav_id %>" class="header-container header-type-classic header-navbar-inverse header-absolute header-transparent header-scroll-resize">
	<div class="container">
		<%= link_to "L", root_path, id: "logo"  %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
				
					
				<li class="<%= 'active' if current_page?(hotel_presentation_path) %>"><%= link_to "L'hotel", hotel_presentation_path %></li>
				<li class="<%= 'active' if current_page?(restaurant_presentation_path) %>"><%= link_to "Le restaurant", restaurant_presentation_path %></li>

				
				<li class="<%= 'active' if current_page?(access_path) %>"><%= link_to "Accès et Contacts", access_path %></li>
				<li class="<%= 'active' if current_page?(links_path) %>"><%= link_to "Tourisme", links_path %></li>
			</ul>
		</nav>
	</div>
</header>